<div class="booyah-box col-xs-10 col-xs-offset-1">
  <br />
  <h1 class="text-center"> Sup, Welcome to the game of Chess </h1>

  <% @available_games.each do |game| %>
    <h2 class="text-center"><%= link_to game.title, game_path(game.id) %></h2>
    <center><%= link_to 'Join', game_path(game.id), :method => :put %></center>
  <% end %>
</div>
