<style>
  #draggable { width: 100px; height: 100px; padding: 0.0em; }
</style>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#draggable" ).draggable();
  } );
</script>

<br />
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class="text-center">The Battleground</h1>
  <center>
    <div class="board-container">
      <table class="chess-board">
        <tbody>
          <% 7.downto(0) do |row| %>
            <tr>
              <% 0.upto(7) do |col| %>
                <td class="<%= white_or_black(row) %>">
                  <% if selected_piece %>
                    <%= link_to '', piece_path(id: selected_piece.id, x_pos: col, y_pos: row), :class => piece_link(selected_piece), method: :put %>
                  <% end %>

                  <% pieces.detect do |piece| %>
                    <% if piece.x_pos == col && piece.y_pos == row && piece.active %>
                      <%= link_to image_tag("#{piece.piece_type}.jpg"), piece_path(piece.id), :class => hilight(piece) %>
                    <% end %>
                  <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </center>
</div>
