<center>The Battleground</center>
<table id="gameboard" width='480' height='480' align='center' border='1'>
  <tr>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
  </tr>
  <tr>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
  </tr>
  <tr>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
  </tr>
  <tr>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
  </tr>
  <tr>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
  </tr>
  <tr>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
  </tr>
  <tr>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
  </tr>
  <tr>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
    <td width="60" height="60" bgcolor="white"></td>
    <td width="60" height="60" bgcolor="black"></td>
  </tr>
</table>
