<h1>The Battleground</h1>
<table width='400' height='400' align='center' border='1'>
  <tr>
    <td width="25" height="25" bgcolor="black"></td>
    <td width="25" height="25" bgcolor="white"></td>
      <td width="25" height="25" bgcolor="black"></td>
    <td width="25" height="25" bgcolor="white"></td>
      <td width="25" height="25" bgcolor="black"></td>
    <td width="25" height="25" bgcolor="white"></td>
      <td width="25" height="25" bgcolor="black"></td>
    <td width="25" height="25" bgcolor="white"></td>
  </tr>
  <tr>
    <td width="25" height="25" bgcolor="white"></td>
    <td width="25" height="25" bgcolor="black"></td>
      <td width="25" height="25" bgcolor="white"></td>
    <td width="25" height="25" bgcolor="black"></td>
      <td width="25" height="25" bgcolor="white"></td>
    <td width="25" height="25" bgcolor="black"></td>
      <td width="25" height="25" bgcolor="white"></td>
    <td width="25" height="25" bgcolor="black"></td>
  </tr>
  <tr>
    <td width="25" height="25" bgcolor="black"></td>
    <td width="25" height="25" bgcolor="white"></td>
      <td width="25" height="25" bgcolor="black"></td>
    <td width="25" height="25" bgcolor="white"></td>
      <td width="25" height="25" bgcolor="black"></td>
    <td width="25" height="25" bgcolor="white"></td>
      <td width="25" height="25" bgcolor="black"></td>
    <td width="25" height="25" bgcolor="white"></td>
  </tr>
  <tr>
    <td width="25" height="25" bgcolor="white"></td>
    <td width="25" height="25" bgcolor="black"></td>
      <td width="25" height="25" bgcolor="white"></td>
    <td width="25" height="25" bgcolor="black"></td>
      <td width="25" height="25" bgcolor="white"></td>
    <td width="25" height="25" bgcolor="black"></td>
      <td width="25" height="25" bgcolor="white"></td>
    <td width="25" height="25" bgcolor="black"></td>
  </tr>
  <tr>
    <td width="25" height="25" bgcolor="black"></td>
    <td width="25" height="25" bgcolor="white"></td>
      <td width="25" height="25" bgcolor="black"></td>
    <td width="25" height="25" bgcolor="white"></td>
      <td width="25" height="25" bgcolor="black"></td>
    <td width="25" height="25" bgcolor="white"></td>
      <td width="25" height="25" bgcolor="black"></td>
    <td width="25" height="25" bgcolor="white"></td>
  </tr>
  <tr>
    <td width="25" height="25" bgcolor="white"></td>
    <td width="25" height="25" bgcolor="black"></td>
      <td width="25" height="25" bgcolor="white"></td>
    <td width="25" height="25" bgcolor="black"></td>
      <td width="25" height="25" bgcolor="white"></td>
    <td width="25" height="25" bgcolor="black"></td>
      <td width="25" height="25" bgcolor="white"></td>
    <td width="25" height="25" bgcolor="black"></td>
  </tr>
  <tr>
    <td width="25" height="25" bgcolor="black"></td>
    <td width="25" height="25" bgcolor="white"></td>
      <td width="25" height="25" bgcolor="black"></td>
    <td width="25" height="25" bgcolor="white"></td>
      <td width="25" height="25" bgcolor="black"></td>
    <td width="25" height="25" bgcolor="white"></td>
      <td width="25" height="25" bgcolor="black"></td>
    <td width="25" height="25" bgcolor="white"></td>
  </tr>
  <tr>
    <td width="25" height="25" bgcolor="white"></td>
    <td width="25" height="25" bgcolor="black"></td>
      <td width="25" height="25" bgcolor="white"></td>
    <td width="25" height="25" bgcolor="black"></td>
      <td width="25" height="25" bgcolor="white"></td>
    <td width="25" height="25" bgcolor="black"></td>
      <td width="25" height="25" bgcolor="white"></td>
    <td width="25" height="25" bgcolor="black"></td>
  </tr>
</table>
